@use'../font/index.css';

html {
    /* 定义变量 */
    // --bgColor: rgb(226, 227, 228);
    font-family: JetBrainsMono, PingFangSC-Regular, sans-serif;
    font-weight: 200;
}

#app {
    height: 100dvh;
    width: 100dvw;
    // background-color: var(--bgColor);
}

.textarea {
    border: none;
    padding: .6rem;
    border-radius: 1rem;
    background: var(--bgColor);
    box-shadow: 10px 10px 30px #c5c5c5,
        -10px -10px 30px var(--bgColor);
    transition: 0.3s;
}

.textarea:focus {
    outline-color: #e8e8e8;
    background: var(--bgColor);
    box-shadow: inset 10px 10px 30px #c5c5c5,
        inset -10px -10px 30px var(--bgColor);
    transition: 0.3s;
}


textarea:focus {
    border-color: none;
    /* 聚焦时边框颜色 */
    outline: none;
    /* 移除默认轮廓线 */
}

textarea {
    resize: none;
}

#nprogress .bar {
    background: oklch(87.2% 0.01 258.338);
}

/**
 * 滚动条样式
 */
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3);
}

// /* 或者使用属性选择器 */
img[alt] {
    font-size: 0.75rem;
    /* 设置 alt 文本的字体大小 */
    color: #666;
    /* 设置 alt 文本颜色 */
    display: flex;
    align-items: center;
    justify-content: center;
}



/* 整个页面默认不可选 */
body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    // font-family: Arial, sans-serif;
}